body{
    background-color: white;
    color: color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  body.dark-mode{
    background-color: black;
    color: white;
  }
  
  h2{
    font-family: Arial;
    color: black;
  }
  
  h2.dark-mode{
    color: white;
  }
  
  #btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 1%;
    cursor: pointer;
  }
  
  #btn.dark-mode{
    background-color: white;
    color: black;
  }